@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1b3573;
    --cor-secundaria: #1351d8;
    --cor-terciaria: white;
    --cor-quaternaria: #000000;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Garantindo que os elementos não saiam da body*/
}

html,
body {
    /*Utilizado para deixar o rodape no final da pagina não importando se o main é grande o suficiente para empurra-lo*/
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.cabecalho {
    display: flex;
    /* padding: 1%; */
    box-shadow: 0 0.25rem 0.5rem var(--cor-primaria);
}

.cabecalho__img {
    height: 3.75rem;
}

.cabecalho__menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.cabecalho__menu__link {
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    display: flex;
    /*Deixando o conteudo da pagina alinhado numa linha*/
    flex-direction: column;
    align-items: center;
    /*Alinhamento conforme a imagem, pois é o elemento de maior altura*/
    gap: 1.875rem;
    flex: 1;
}

.apresentacao__imagem {
    padding: 2% 5% 0 5%;
}

.apresentacao__paragrafo {
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-quaternaria);
    font-size: 1.3rem;
    font-weight: 400;
}

.rodape {
    padding: 1.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.paragrafo__rodape {
    text-align: center;
    font-size: 1.2rem;
}

.apresentacao__links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* ---------------------------------------------------- */

.apresentacao__tabela__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__checkbox {
    display: flex;
    margin: 0%;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.apresentacao__paragrafo__checkbox {
    color: var(--cor-quaternaria);
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

strong {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.botao_posicao {
    display: flex;
    align-items: center;
}

.botao {
    margin-bottom: 1.875rem;
    background-color: var(--cor-secundaria);
    height: 3.125rem;
    width: 9.375rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.botao:hover {
    background-color: var(--cor-primaria);
    font-size: 1.7rem;
}

/* ---------------------------------------------------- */

.image_formulario {
    padding: 10%;
    transform: scale(1.1);
}

.apresentacao__formulario {
    padding-top: 5%;
    display: flex;
    align-items: center;
}

.apresentacao__formulario__contato {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    width: 28.125rem;
}

input,
select,
textarea {
    display: flex;
    justify-content: center;
    border: 0.125rem solid;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    padding: 1rem;
}

textarea {
    resize: none;
    height: 9.375rem;
    text-align: justify;
}

.botao__contato {
    margin-bottom: 1.25rem;
    background-color: var(--cor-secundaria);
    height: 3.125rem;
    width: 100%;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.botao__contato:hover {
    background-color: var(--cor-primaria);
    font-size: 1.9rem;
}

/* --------------------RESPONSIVIDADE-------------------------------- */

@media (max-width: 1200px) {
    .apresentacao__tabela__principal {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
}

@media (max-width: 840px) {
    .apresentacao__formulario {
        display: flex;
        flex-direction: column;
    }

    .cabecalho {
        display: flex;
        font-size: 1.2rem;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
    }

    .rodape {
        display: flex;
        font-size: 1.2rem;
        flex-direction: column;
        gap: 1.25rem;
    }

    .cabecalho__menu {
        font-size: 0.5rem;
    }

    .paragrafo__rodape {
        font-size: 0.95rem;
    }

    .apresentacao__formulario__contato {
        width: 15rem;
    }
}
