@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1b3573;
    --cor-secundaria: #1351d8;
    --cor-terciaria: white;
    --cor-quaternaria: #000000;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Garantindo que os elementos não saiam da body*/
}

body {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

html, body {             /*Utilizado para deixar o rodape no final da pagina não importando se o main é grande o suficiente para empurra-lo*/
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cabecalho {
    position: relative;
    padding: 1%;
}

.cabecalho__img {
    height: 60px;
}

.cabecalho__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 70px; 
}

.cabecalho__menu__link {
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    display: flex; /*Deixando o conteudo da pagina alinhado numa linha*/
    flex-direction: column;
    align-items: center; /*Alinhamento conforme a imagem, pois é o elemento de maior altura*/
    gap: 60px;
    flex: 1;
}

.apresentacao__paragrafo {
    font-family: var(--fonte-secundaria);
    color: var(--cor-quaternaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape {
    padding: 1.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* ---------------------------------------------------- */

.apresentacao__tabela__principal {
    display: flex;
    justify-content: space-between;
}

.apresentacao__checkbox {
    display: flex;
    margin: 0%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.apresentacao__paragrafo__checkbox {
    color: var(--cor-quaternaria);
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

strong {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.botao {
  margin-bottom: 20px;
  background-color: var(--cor-secundaria);
  height: 50px;
  width: 150%;
  font-family: var(--fonte-secundaria);
  color: var(--cor-terciaria);
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
}

.botao:hover {
    background-color: var(--cor-primaria);
}